# For ESP32 Cam web dashboard
streamlit
streamlit-autorefresh
firebase-admin
pandas
deepface
tf-keras
opencv-contrib-python-headless==4.14.0.94
opencv-contrib-python==4.14.0.94
numpy
requests